body,html{
    margin: 0px;
    height: 100%;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: beige;
    font-weight: bolder;
    font-size: 30px;
}
.cal-container{
    display: flex;
}
button:hover{
    background-color: azure;
}
button:active{
    background-color: #950192;
    box-shadow: 0 3px #666;
    transform: translateY(2px);
}
button{
    height: 65px;
    width: 65px;
    background-color: blueviolet;
    color:darkturquoise;
    padding: 0px;
}
#display, #input{
    height: 43.5px;
    text-align: end;
    color:rgb(77, 26, 11);
    font-size: larger;
}
#num{
    background-color: rgb(33, 71, 162);
    color:rgb(212, 150, 15);
    font-weight: bolder;
}
#num:hover{
    background-color: #b80e0e;
}